.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 150px;
  z-index: 100;
  background-color: white;
  width:200px;
  z-index: 2;
 vertical-align: center;

}
.sidebarlink{
 height: 50px;
 margin-left: 10px;
 padding-left: 30px;
 align-items: center;
}
.sidebarlink:hover{
  background-color:RGB(75,73,172);
  border-radius: 10px;
  color: white;
}
.imgicon{
  height: 20px;
  width: 20px;
  object-fit: contain;
  object-position: center;
  margin-right: 10px;
}
.righticon{
  height: 20px;
  width: 20px;
  object-fit: contain;
  object-position: center;
}
.navtext{
  color: grey;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebarlink a{
  position: relative;
  display: inline-block;
}
.dropdown{
  display: none;
  position: absolute;
  background-color: rgb(185, 173, 230);
  min-width: 158px;
  z-index: 1;
}
.dropdown a{
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px 16px;
}
.dropdown a:hover{
  background-color: lightgrey;
  color: white;
}
.sidebarlink:hover .dropdown{
  content: none;
}
.textwelcome{
  font-weight: bold;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}