.video-text{
  font-family: tahoma;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin-left: 10px;
}
.video-ere{
  font-family:arial;
  font-size: 20px;
  font-style:italic;
  font-weight:bold;
  margin-left:10px;
  margin-bottom: 0px;
}
.video-class{
  font-family:arial;
  font-size: 15px;
  font-style:italic;
  margin-left:10px;
  line-height: 2px;
  color: red; 
}
.philip-text{
  color: rgba(255, 0, 0, 0.692);
  font-size: 30px;
  text-align: center;
  background-color: rgb(54, 226, 31);
  padding-top: 14px;
  padding-bottom: 14px;
}
.philip-tatt{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;

}
  .philip-yess{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.yess-trew{
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 4px;
}
.yoom-yoom{
  background-color: rgb(0, 113, 227);
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}
.ratr-ratr{
  font-size: 30px;
  text-align: center;
  font-family: arial;
  font-weight: bold;
  
}
.rata-rata{
  font-size: 18px;
  text-align: center;
  font-family: arial;
  font-weight: bold;
}
.riri-riri{
  font-size: 16px;
  text-align: center;
  font-family: arial;
  color: blue;
}
.chp-pop{
  color: rgba(0, 162, 255, 0.726);
  cursor: pointer;
}
.toto-toto{ 
  font-size: 16px;
  font-family: arial;
}