
.div-work{
  margin: 250px 100px 0px 150px;
  display: inline-block;
  }
  .div-participation{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
  }
  .abouttt{
    color: lightgray;
    width: 350px;
  }
  .see-btn{
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 10px;
    display: block;
    border-style: none;
    background-color: RGB(0,123,255);
    color:white ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  .workline{
   flex-direction: column;
   float: right;
   margin-top: 10px;
   border-style: dashed;
   border-width: 1px;
   border-color: lightgrey;
   margin-right: 200px;
   padding: 20px;
   margin-bottom: 100px;
  }
  .job{
   font-size: 20px; 
   font-weight: bold;
   margin: 10px 0px 10px 10px;
  }
  .year{
    border-style:none ;
    border-radius: 5px;
    background-color: RGB(235,245,255);
    color: RGB(33,122,230);
    display: inline;
    padding: 5px 5px;
    margin-right: 40px;

  }
  .jobyear{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .company{
    margin-bottom: 10px;
  }
  .info{
    color: lightgray;
    width: 500px;
  }