.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  border-bottom-width: 1px;
  border-color: rgb(221, 217, 217);
  border-bottom-style: solid;
  z-index: 100;
}
.last-section{
  display: flex;
  align-items: center;
}
.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.hamburger{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube{
  height: 20px;
}
.searchicon{
  height: 40px; 
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-style: solid;
  border-width: 1px;
  border-color:rgb(192, 192, 192);
  margin-left: -1px;
 


}
.searchicon .tooltip{
  position: absolute;
  background-color:grey;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -35px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}
.searchicon:hover .tooltip{
opacity: 1;
}
.voice-search2{
height: 40px;
width: 40px;
border-radius: 20px;
margin: 10px;
border: none;
background-color: rgb(240, 240, 240);

}
.voice-search2 .tooltip,
.upload-container .tooltip,
.youtube1 .tooltip,
.notification1 .tooltip{
  position: absolute;
  background-color: grey;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -35px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  
}
.voice-search2:hover .tooltip,
.upload-container:hover .tooltip,
.youtube1:hover .tooltip,
.notification1:hover .tooltip{
  opacity: 1 ;
}
.searchicon,
.voice-search2,
.upload-container,
.youtube1,
.notification1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box{
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-width: 1px;
  border-radius: 2px;
  box-shadow:inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
  
}
.search-box::placeholder{
  font-family: 'roboto' Arial;
  font-size: 16px;
}
.searchman{
  height: 24px;
  width: 24px;
 
}
.voice-search{
  height: 24px;
 
}
.upload1{
  height: 24px;
  
}
.youtubeapps{
height: 24px;
}
.notifications{
height: 24px;
}
.notification1{
  position: relative;
 
}
.number{
  position: absolute;
  top: -2px; ;
  right: -2px; ;
  background-color: rgb(179, 8, 8);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 50%;
  
}
.my-channel{
height: 32px;
border-radius: 16px;

}
.first-section{
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
}

